/* Generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */
.container{
    width: 800px;
    height: 500px;
    background-color: #ffff;
    margin: 0 auto;
}

body{
    background-color: #80808080;
}

.header, .main-header{
    width: 100%;
    background-color: #ffff;
}

.main-header{
    border-bottom: 2px solid #80808080 ;
}

#logo{
    height: 80px;
    margin: 20px 10px ;
    vertical-align: middle;
}

h1{
    display: inline;
    vertical-align: middle;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.main-header{
    width: 800px;
    height: 40px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px 5px 0 0;
}

.new-task, .today{
    margin-top: 30px;
    margin-left: 20px;
}

.upcoming{
    margin: 30px 10px;
    
}

/* section */
#button-task{
    width: 100px;
    background-color:#0080ff;
    color: #ffff;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid;
}

#button-section{
    width: 100px;
    background-color: #ffff;
    color: gray;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 10px;
}

.argument{
    font-family: Arial,sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.checked{
    margin-bottom: 3px;
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid green;
    border-radius: 50%;
    text-align: center;
}

.crossed{
    margin-bottom: 2px;
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
}

.section-text{
    margin: 10px;
    font-size: 12px;
    font-family:Arial,sans-serif;
    font-weight: bold;
}

/* tasks */
.task-editorial{
    background-color:#0080ff;
    display: inline-block;
    width: 60px;
    height: 20px;
    border-radius: 30px;
    line-height: 20px;
    text-align: center;
    font-size: 0.7rem;
    color: #ffff;
}

.task-goals{
    background-color: purple;
    display: inline-block;
    width: 60px;
    height: 20px;
    border-radius: 30px;
    line-height: 20px;
    text-align: center;
    font-size: 0.7rem;
    color: #ffff;
}

.task-recruiting{
    background-color: green;
    display: inline-block;
    width: 60px;
    height: 20px;
    border-radius: 30px;
    line-height: 20px;
    text-align: center;
    font-size: 0.7rem;
    color: #ffff;
}

.task-mobile{
    background-color: orange;
    display: inline-block;
    width: 60px;
    height: 20px;
    border-radius: 30px;
    line-height: 20px;
    text-align: center;
    font-size: 0.7rem;
    color: #ffff;
}

.task-website{
    background-color:plum;
    display: inline-block;
    width: 60px;
    height: 20px;
    border-radius: 30px;
    line-height: 20px;
    text-align: center;
    font-size: 0.7rem;
    color: #ffff;
    
}

.task-sales{
    background-color:greenyellow;
    display: inline-block;
    width: 60px;
    height: 20px;
    border-radius: 30px;
    line-height: 20px;
    text-align: center;
    font-size: 0.7rem;
    color: #ffff;
}
